.addEmployeeLabelColumn{
    width: 15%;
    vertical-align: top;
}

.addEmployeeInputText {
    width:85%;
    vertical-align: top;
    text-align:center;
}

.addEmployeeGrid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.addEmployeeLabel {
    text-align: right;
}

.addEmployeeMessage {
    width:100%;
}

.addEmployeeComboBox {
    width:95%;
}

.addEmployeeCommentLabel {
    text-align: left;
}

.addEmployeeButtonSave {
    text-align: right;
}

.textArea {
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ui-selectonemenu{
    display: flex !important;
}


.ten-percent {
    width: 10%;
}

.fifteen-percent {
    width: 15%
}

.twenty-percent {
    width: 20%;
}

.thirty-percent {
    width: 30%;
}

.fourty-percent {
    width: 40%;
}

.fourtyfive-percent {
    width: 45%;
}

.fifty-percent {
    width: 50%;
}

.eightyfive-percent {
    width: 85%;
}

.ninety-percent {
    width: 90%;
}

.fullWidth {
    width:100%;
}


.top-alignment {
    vertical-align: top;
}